.centralized {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

rz-custom-background {
    background-color: #000000;
    color: white;
}